<% provide(:title, "Home") %> 
<!DOCTYPE html>
<html> 
<div class="center jumbotron">
<h1>Good Life</h1> 
<p>This is not a business, this is a lifestyle, welcome to the Good Life</p>

<%= link_to "Sign Up Now", user_new_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("G.png", alt: "G Logo"), "http://Google.com" %>
</html>
